.tomato {
    border: 2px solid tomato;
}
.olive {
    border: 2px solid olive;
}

/* 헤더 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo h1 {
    font-weight: bold;
    color: red;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.nav-center {
    display: flex;
    justify-content: left;
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding: 0px 0px 0px 20px;
}

.nav-right {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    white-space: nowrap; /* 한 줄로 표시되도록 강제 */
}

.nav-right li {
    margin: 0 10px; /* 여백을 추가해서 간격 조절 */
    white-space: nowrap; /* 이정현님을 한 줄로 표시 */
    overflow: hidden; /* 텍스트가 길면 넘어가는 부분을 숨김 */
    text-overflow: ellipsis; /* 너무 길면 생략(...) 처리 */
    max-width: 100px; /* 너무 긴 이름을 제한 */
}

.nav-center li,
.nav-right li {
    margin: 0 15px;
}

.nav-center li a,
.nav-right li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-center li a:hover,
.nav-right li a:hover {
    color: #d81f26;
}

/* 푸터 */
.app-main {
    min-height: 750px;
}

.footer {
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    left: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo h1 {
    color: white;
    font-size: 4rem;
}

.footer-sections {
    display: flex;
    gap: 50px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    gap: 15px;
}

.footer-social a {
    color: white;
    font-size: 24px;
}

.footer-social a:hover {
    color: #ccc;
}

.footer-bottom {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.footer-country select {
    padding: 5px;
    background-color: #444;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
}

.footer-red {
    background-color: #d81f26;
    padding: 10px 0;
    position: relative;
    bottom: 0;
}

.footer-legal {
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-legal p {
    margin: 0;
}

.footer-legal a {
    color: white;
    text-decoration: none;
}

.footer-legal a:hover {
    text-decoration: underline;
}

/* 메인화면 */
.image-gallery {
    position: relative;
    display: flex;
    height: 750px;
    width: 100%;
}

.image-container-main {
    display: grid;
    grid-template-columns: 2.5fr 1.3fr;
    width: 100%;
    height: 100%;
}

.large-image-container {
    position: relative;
}

.large-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.small-image {
    width: 100%;
    height: 100%; /* 부모 요소에 맞게 꽉 채움 */
    object-fit: cover; /* 이미지가 영역을 꽉 채우며 자를 수 있게 설정 */
}

.right-images {
    position: relative; /* 자식 요소의 절대 위치를 위한 설정 */
}

.overlay-text {
    position: absolute;
    left: 50%;
    color: white;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    transform: translate(-50%, -50%); /* 가로 및 세로 정가운데로 이동 */
    z-index: 1; /* z-index 추가 */
}

.overlay-text:nth-child(1) {
    top: 15%; /* 첫 번째 줄 위치 */
}

.overlay-text:nth-child(2) {
    top: 60%; /* 두 번째 줄 중앙 */
}

.overlay-text:nth-child(3) {
    top: 25%; /* 세 번째 줄 위치 */
}

@media only screen and (max-width: 768px) {
    .overlay-text {
        font-size: 18px;
    }
}

.login-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* 텍스트가 이미지 위에 나타나도록 설정 */
}

.box {
    background-color: rgba(168, 168, 168, 0.697); /* 흰색 배경 */
    padding: 20px;
    border-radius: 10px; /* 둥근 모서리 */
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: black; /* 글자 색상 */
    width: 80%; /* 박스 너비 설정 */
    max-width: 500px; /* 최대 너비 설정 */
}

@media only screen and (max-width: 768px) {
    .box {
        font-size: 18px; /* 작은 화면에서 글자 크기 조정 */
    }
}

.result-box {
    /* 질문 박스와 동일한 크기 및 투명도 */
    background-color: rgba(255, 255, 255, 0.9); /* 동일한 투명도 */
}

.question {
    margin: 10px 0; /* 각 질문 간격 설정 */
    font-size: 18px; /* 질문 글자 크기 */
    color: black; /* 질문 글자 색상 */
}

/* 헤더 - 메뉴 */
.image-container {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.menu-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.header-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 4rem;
    font-weight: bold; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


/* 마이페이지 */
.btn-join {
    background-color: #d81f26;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.btn-cancel {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}


/* 버거킹 */
.card-container-burger {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.card-burger-king {
    position: relative; 
    border: 2px solid #d81f26;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; 
}

.card-burger-king::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px; 
    background: repeating-linear-gradient(
        135deg,
        #ff9090,
        #ff9090 10px,
        #fff 10px,
        #fff 20px
    );
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1; 
}

.card-burger-poor {
    position: relative; 
    border: 2px solid #000;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; 
}

.card-burger-poor::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px; 
    background: repeating-linear-gradient(
        135deg,
        #ddd,
        #ddd 10px,
        #fff 10px,
        #fff 20px
    );
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1; 
}

.card-red {
    position: relative; 
    border: 2px solid #d81f26;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    min-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; 
}

.card-red::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px; 
    background: repeating-linear-gradient(
        135deg,
        #ff9090,
        #ff9090 10px,
        #fff 10px,
        #fff 20px
    );
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1; 
}

.card-dark {
    position: relative; 
    border: 2px solid #000;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; 
}

.card-dark::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px; 
    background: repeating-linear-gradient(
        135deg,
        #ddd,
        #ddd 10px,
        #fff 10px,
        #fff 20px
    );
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1; 
}

.card-burger h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}

.rank-info {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}

.rank-info span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .card-container {
        flex-basis: 100%;
    }
}


/* 버튼 */
.btn-red {
    width: 100%;
    padding: 10px;
    background-color: #d81f26;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-red:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: #666;
}


.comment-form {
    width: 100%;
    margin-top: 15px;
}

.comment-form textarea {
    border-radius: 5px;
    padding: 10px;
    resize: none;
    height: 50px;
}
